
.body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* background-color: #0f0f0f; */
    font-family: Lato, sans-serif;
    color: #fff;
    height: 100vh;
  }

  /* Tab Ui */

  .tab-container{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #000;
  }

  ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-transform: uppercase;
  }
  ul.tabs li{
    background: none;
    display: inline-block;
    padding: 10px 0px;
    margin: 0px 15px;
    cursor: pointer;
  }

  ul.tabs li.current{
    color: #fff;
    border-bottom: 2px solid #F05A62;
  }

  .tab-content{
    display: none;
    height: 100%;
  }

  .tab-content.current{
    display: inherit;
  }

  /* Tab UI End */
  
  .main-container {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 373px;
    padding: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #000;
  }
  
  .main-container.forcast {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 373px;
    padding: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #000;
  }

  .timezone {
    margin-bottom: 4px;
    font-size: 20px;
  }
  
  .currently-time, .tomorrow-time {
    font-size: 18px;
    font-weight: 300;
  }
  
  .currently-temperature, .tomorrow-temperature {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 115px;
    line-height: 84px;
    font-weight: 300;
  }

  .w-currently-container{
    transform: scale(1);
  }
  
  .w-currently-wrapper, .tomorrow-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .currently-icon {
    position: absolute;
    left: auto;
    top: auto;
    right: -30px;
    bottom: 0%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
    height: 50px;
  }

  .t-w-icon{
    position: absolute;
    left: -20px;
    height: 85px;
  }

  .tomorrow-container{
    position: absolute;
    bottom: 0;
    padding: 25px;
  }

  .tomorrow-icon {
    position: absolute;
    left: auto;
    top: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 70px;
    height: 70px;
  }
  
  .w-currently-wrapper-top {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    justify-content: center;
  }

   .tomorrow-wrapper-top {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    justify-content: right;
  }
  
  .w-currently-wrapper-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: relative;
  }

  .tomorrow-wrapper-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  
  .currently-summary{
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize
  }

  .tomorrow-summary {
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: calc(64px + (16 - 64) * ((100vh - 300px) / (1600 - 300)));
    font-weight: 600;
    text-transform: inherit;
  }
  
  .degree {
    font-size: 21px;
  }
  
  .temperaturehl-wrapper{
    position: relative;
  }

  .temperaturehl-wrapper span{
    position: absolute;
    top: 0;
    right: 0;
  }

  .temperaturehl-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .temperaturehigh {
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .temperaturehl {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 26px;
  }

  .tomorrow-temperaturehl {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 21px;
  }
  
  .temperaturehl.low, .tomorrow-temperaturehl.low, .temperaturehl-wrapper span.low {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .header {
    width: 100%;
    position: relative;
    margin-bottom: 30px;
  }
  
  .footer {
    width: 100%;
  }
  
  .navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px
  }
  
  .nav-label {
    margin-right: 16px;
    font-size: 16px;
  }
  
  .hourly-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    overflow-y: hidden;
  }

  .hourly-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .hourly-time {
    /* color: #0084d5; */
    color:#fff;
    font-size: 16px;
    text-align: center;
    font-weight: 100;
  }

  .hourly-icon {
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
  }

  .hourly-degree {
    position: relative;
    font-size: 22px;
    text-align: center;
  }

  .hourly-degree span{
    position: absolute;
    top: 0;
    right: 0;
    font-size: inherit;
  }

/* Preloader */

.loading-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  z-index: 999;
  /* display: none; */
}

  .preloader {
    position: absolute;
    margin-left: -55px;
    margin-top: -100px;
    height: 110px;
    width: 110px;
    left: 50%;
    top: 50%;
  }
  
  svg {
    width: 110px;
    height: 110px;
  }
  
  path {
    stroke: #fff;
    stroke-width: 0.5;
    fill:#000;
  }
  
  #cloud {
    position: relative;
    z-index: 2;
  }
  
  /* #cloud path {
    fill: $gallery;
  } */
  
  #sun {
    margin-left: -10px;
    margin-top: 6px;
    opacity: 0;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 45px;
    top: 15px;
    z-index: 1;
    animation-name: rotate;
    animation-duration: 16000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  #sun path {
    stroke-width: 0.18;
    fill: #fff;
  }
  
  @keyframes rotate {
    0% {
      transform: rotateZ(0deg);
    }
  
    100% {
      transform: rotateZ(360deg);
    }
  
  }
  
  .rain {
    position: absolute;
    width: 70px;
    height: 70px;
    margin-top: -32px;
    margin-left: 19px;
  }
  
  .drop {
    opacity: 1;
    background: #a0a0a0;
    display: block;
    float: left;
    width: 3px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0 0 6px 6px;
    animation-name: drop;
    animation-duration: 350ms;
    animation-iteration-count: infinite;
  }
  
  .drop:nth-child(1) {
    animation-delay: -130ms;
  }
  
  .drop:nth-child(2) {
    animation-delay: -240ms;
  }
  
  .drop:nth-child(3) {
    animation-delay: -390ms;
  }
  
  .drop:nth-child(4) {
    animation-delay: -525ms;
  }
  
  .drop:nth-child(5) {
    animation-delay: -640ms;
  }
  
  .drop:nth-child(6) {
    animation-delay: -790ms;
  }
  
  .drop:nth-child(7) {
    animation-delay: -900ms;
  }
  
  .drop:nth-child(8) {
    animation-delay: -1050ms;
  }
  
  .drop:nth-child(9) {
    animation-delay: -1130ms;
  }
  
  .drop:nth-child(10) {
    animation-delay: -1300ms;
  }
  
  @keyframes drop {
    50% {
      height: 45px;
      opacity: 0;
    }
  
    51% {
      opacity: 0;
    }
  
    100% {
      height: 1px;
      opacity: 0;
    }
  
  }
  
  .text {
    /* font-family: Helvetica, Helvetica Neue, sans-serif; */
    letter-spacing: 1px;
    text-align: center;
    margin-left: -43px;
    font-weight: bold;
    margin-top: 20px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    width: 200px;
  }
  

  .forcast-container {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 373px;
    padding: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow-x: hidden;
    height: 70vh;
  }

  .forcast-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom:30px; 
  }
  
  .div-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background-color: #5c1919;
  }
  
  .forcast-icon-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 60px;
    height: 60px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    /* background-color: #fff; */
  }
  
  .forcast-temp-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0px;
    margin-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: right;
  }
  
  .forcast-date-summary {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  
  .forcast-low {
    opacity: 0.5;
  }
  
  .forcast-date {
    font-weight: 100;
    margin: 0 0 10px 0; 
  }
  
  .forcast-summary {
    font-weight: 400;
    font-size: 18px;
    width: 80%;
  }
  
  @media (max-width: 767px) {

  }